body {
  max-width: 750px;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
}

header img {
  width: 200px;
  margin: .75rem;
  border-radius: .75rem;
}

header,
footer {
  background: rgb(11, 128, 0);
  text-align: center;
  padding: .5rem;
  margin: .75rem;
  border-radius: 10px;
}

main {
  margin-left: 20px;
}

main ul {
  margin-top: -10px
}

footer {
  line-height: 1rem;
  font-size: .8em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif', serif;
}