/************* HEADER *************/

header {
  display: flex;
  background-color: #d7d1fd;
  justify-content: left;
  margin-right: 70px;
  min-height: 93px;
}

header img {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/************* NAV BAR *************/

nav {
  background-color: #c2ad78;
  padding: 0;
  z-index: 99;
  position: absolute;
  right: 0px;
  top: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  flex-direction: column;
  justify-content: space-evenly;
}

nav ul li:first-child {
  display: block;
  padding-top: 27.5px;
  padding-bottom: 27.5px;
}

nav ul li {
  display: none;
}

nav ul li a {
  display: block;
  color: black;
  text-align: right;
  padding: 0.75rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #f5e6ad;
}

.show-menu li {
  display: block;
  min-width: 100px;
}

.show-menu li:first-child {
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.active {
  font-weight: 700;
}

.active::after {
  content: " <"
}

.active::before {
  content: "> "
}

/************* General things *************/

body {
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  width: 100%;
  text-align: center;
  background-color: #f4efeb;
  min-width: 300px;
}

main {
  max-width: 900px;
  margin: auto;
}

.content-box {
  background-color: #f5e6ad;
  border: solid #c7a633 1px;
  margin: .25em 0;
}

.left-aligned {
  text-align: left;
  padding-left: 1em;
}

button {
  background-color: #d7d1fd;
  border: outset #d7d1fd 2px;
  margin: 0;
  padding: .25em;
}

button:hover {
  background-color: #ac9fff;
  border: outset #ac9fff 2px;
}

/************* FOOTER *************/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  background-color: #d7d1fd;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
}

/************* HOME PAGE CAROUSEL *************/

.carousel-wrapper {
  display: none;
}

/************* HOME PAGE *************/

.home-hero, 
.side-by-side img {
  max-width: 100%;
  margin: auto;
}

.side-by-side ul{
  text-align: left;
}

/************* CONTACT PAGE *************/
.map {
  margin: 0;
  padding: 0;
}

#map-big {
  display: none;
}